<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="<%= asset_path 'img/bkg-gallery.png' %>">
  <div class="container">
    <div class="row title">
      <h2 class="h2">Gallery</h2>
      <div class="page-breadcrumb">
        <%= link_to "Home", root_path %>/<span>Gallery</span>
      </div>
      <br>
      <%= link_to 'New Gallery', new_gallery_path, remote: true %>
    </div>
  </div>
</section>

<section class="ptb ptb-sm-80">
  <div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <!-- Filter list 
    <div class="row">
      <ul class="col container-filter categories-filter">
        <li><a class="categories active" data-filter="*">All</a></li>
        <li><a class="categories" data-filter=".branding">Branding</a></li>
      </ul>
    </div>
    -->

      <div class="container-masonry nf-col-4">
        <% @galleries.each do |g| %>
          <% g.images.each do |a| %>
            <div class="nf-item branding">
              <div class="item-box">
                <%= link_to g do %>
                  <%= image_tag a, class: "item-container", atl: g.title %>
                  <div class="item-mask">
                    <div class="item-caption">
                      <h5 class="white"><%= g.description %></h5>
                      <p class="white"><%= g.title %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</section>

<!-- Form Modal -->
<div class="modal inmodal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>

